@font-face {
	font-family: Baloo2;
	src: url("../assets/fonts/Baloo2.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

:root {
	--dark-color: #090909;
	--light-color: #e9e9e9;
	--light-color2: #999999;
	--baloo: 'Baloo2'
}

body {
	cursor: none;
}


.fog {
	position: absolute;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	opacity: 0.05;
	object-fit: cover;
	user-select: none;
	pointer-events: none;
}

.cursor {
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: transform 0.1s ease;
}
