@font-face {
	font-family: "FiraCode", monospace;
	src: url(/FiraCode.ttf);
}

:root {
	/* Colors */
	/* Dark Colors */
	--dark1: #191a21;
	--dark2: #21222c;
	--dark3: #282a36;
	--dark4: #44475a;

	/* Light Colors */
	--light1: #edf8f2;
	--light2: #c5c5c5;
	--light3: #6272a4;

	/* Accents Colors */
	--red: #ff5555;
	--green: #50fa7b;
	--yellow: #f1fa8c;
	--blue: #bd93f9;
	--magenta: #ff79c6;
	--white: #f8f8f3;
	--cyan: #8be9fd;
	--comment: #6272a4;

	/* Fonts */
	--fira: "FiraCode", monospace ;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}


